body {
    font-family: Arial, sans-serif;
    background-color: hsl(206, 8%, 36%);
    background: #8E0E00;
    background: #304352;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d7d2cc, #304352);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d7d2cc, #304352);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

h1 {
    color: #0066cc;
}

/* p {
    color: darkred;
    font-size: 18px;
    line-height: 1.5;
} */




#p101 {
    background-color: rgb(143, 177, 42);
}

.note {
    background-color: rgb(40, 58, 126);
}

#p103 {
    background-color: fuchsia;
}


.box {
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 2px solid #000;
    margin: 10px;
    box-sizing: border-box;
}



html {
    font-size: 16px;
}

/* root */
.parent {
    font-size: 20px;
}

.em-text {
    font-size: 2em;
}

/* 2 × 20px (parent) = 40px */
.rem-text {
    font-size: 2rem;
}

/* 2 × 16px (root)   = 32px */